* {
    box-sizing: border-box; }
body {
    font-family: Raleway;
}
.bg-header {
    background-color: #000000;
}
.api {
    text-align: center;
}
.container-fluid {
    padding: 0;
}
.center-data {
    text-align: center;
}
.center-data input {
    position: relative;
    top: 3px;
    width: 450px;
    height: 35px;
}
.center-data button {
    width: 150px;
}
.mTop {
    margin-top: 40px;
}
.borderDiv {
    padding: 12px;
}
.btn-primary {
    color: #000;
    background-color: #e0ff00;
    font-weight: bold;
    border: 1px solid #e0ff00;
    padding: 7px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
}
.btn-primary:focus {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 1);
}
  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 1);
}
.btn-secondary {
    color: #fff;
    background-color: #000;
    font-weight: bold;
    border: 1px solid #000;
    padding: 7px;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #fa0101;
    font-weight: bold;
    border: 1px solid #fa0101;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #fa0101;
    font-weight: bold;
    border: 1px solid #fa0101;
    box-shadow: 0 0 0 0.1rem rgb(255, 0, 0);
}
.card {
    border-radius: 10px;
}
.card:hover {
    box-shadow: 0 0 6px #e1ff00c2;
    transition: 0.7s all;
    border: 1px solid #0000003f;
    transform: scale(1.02);
}
.price {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}
#btn {
    margin-bottom: 20px;
}
.divPay {
    position: absolute;
    left: 83.35%;
    top: 10.2%;
    background:  linear-gradient(to bottom, rgba(0,0,0,1) 36%, rgba(0,0,0,0.97) 39%, rgba(225,255,0,0.42) 100%);
    padding-bottom: 7px;
    color: #fff;
    
    
}
.buyModal {
    color: #7ac043;
}
.btnPay {
    letter-spacing: 5px
}
li {
    font-weight: 500;
}
.spanCart {
    margin-top: 2rem;
    font-size: 28px;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.btnCart{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.image {
    display: flex;
    margin: auto;
}
.image:hover {
    transform: scale(1.2);
    transition: all 1s;
}
span {
    font-size: 21px;
}
h3 {
    margin-top: 2rem;
}
hr {
    border-color: red;
}
.carro {
    position: absolute;
    top: 4.5%;
    right: 2%;
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    border: 1.5px solid #fff;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    width: 90px;
    letter-spacing: 5px;
}
.carro:hover {
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    border-radius: 11px;
    transition: all 1s;
}